<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Yazı Girişi
</button>

<div class="modal" id="Modal1">
    <div class="modal1-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakımızda metin girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout/">
                <div class="modal-body">
                    <label>Hakımda metin 1</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Hakımda metin 2</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Hakımda Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Hakımda görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-info">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>
