
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br>
<table class="table table-hover" >
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Spor</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-danger">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Film</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-primary">Güncelle</button></td>

    </tr>
    <tr>
        <td>3</td>
        <td>Dizi</td>
        <td>Açıklama yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-warning">Güncelle</button></td>

    </tr>
    <br />
</table>

<button class="btn btn-danger">Yenile</button>
<button class="btn btn-sm">Yenile</button>
<button class="btn btn-info">Yenile</button>
<button class="btn btn-xs">Yenile</button>